*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','arial', sans-serif;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

section header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li {
    list-style: none;
    margin-left: 20px;
}

section header ul li a{
    color: #202124;
    text-decoration: none;
    font-size: 14px;
}

section header ul li button {
    background: #1a73e8;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
}

section .main {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .main .searchBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchBox .search {
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px; 
}

section .main .searchBox .icons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 13px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

section .main .buttons {
    margin-top: 20px;
}

section .main .buttons button {
    margin: 0 5px;
    padding: 12px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

section .main .buttons button:hover {
    border: 1px solid #ccc;
}

section .main .privacySettings {
    display: flex;
    margin-top: 30px;
    align-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    align-items: center;

}

section .main .privacySettings .otherIcon {
    height: 20px;
    width: 20px;
    margin-right: 50px;
    padding: 20px 20px;
    display: inline-block;
    align-items: center;
    border: 1px solid transparent;
}

section .main .privacySettings .statement {
    text-align: center;
    padding: 20px 20px;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid transparent;
}